.header-top{
    margin: 0;
    padding: 0;
    color: white;
}
.contact{
    background-image: linear-gradient(to right, rgba(220, 179, 89), rgba(186, 148, 148), rgba(163, 134, 243));
}
.call-us{
    background-color: rgba(108, 96, 248);
    --bs-gutter-x: 0;
}

li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 15px;
}
ul {
    list-style: none;
}
.address li a{
    float: left;
}
.social-icon li a{
    float: right;
}
 svg {
       display: inline ;

}
@media only screen and (min-width: 335px) {
    .social-icon{
        padding-right: 10%;
    }
  }
@media only screen and (min-width: 400px) {
    .social-icon{
        padding-right: 20%;
    }
  }
@media only screen and (min-width: 768px) {
    .social-icon{
        float: right;
        padding-right: 0;
    }
  }

  /* .row{
          --bs-gutter-x: 0;
  }   */