.banner-area{
    clip-path: polygon(0 1%, 100% 0%, 100% 77%, 0% 100%);

   background: linear-gradient( to right, rgba(220, 179, 89,0.900), rgba(186, 148, 148, 0.616),rgba(163, 134, 243, 0.384),rgba(111, 0, 255, 0.280) ),url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    position: fixed;
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
}

.banner-card{
    background: linear-gradient( to right, rgba(220, 179, 89,0.900), rgba(186, 148, 148, 0.616),rgba(163, 134, 243, 0.384),rgba(111, 0, 255, 0.280) )

}
.banner-card-title{
    font-size: 50px;
    font-weight:lighter;
}
.banner-card-title-span{
    font-weight: bold;
}
.banner-card-1stP{
    font-weight: bold;
}